[submodule "flutter/hap_installer/cpp/third_party/bounds_checking_function/source"]
	path = flutter/hap_installer/cpp/third_party/bounds_checking_function/source
	url = https://gitee.com/openharmony/third_party_bounds_checking_function.git
[submodule "flutter/hap_installer/cpp/hapsigner/source"]
	path = flutter/hap_installer/cpp/hapsigner/source
	url = https://gitee.com/openharmony/developtools_hapsigner.git
[submodule "flutter/hap_installer/cpp/hapsigner/third_party/zlib2/source"]
	path = flutter/hap_installer/cpp/hapsigner/third_party/zlib2/source
	url = https://gitee.com/openharmony/third_party_zlib.git
[submodule "flutter/hap_installer/cpp/hapsigner/third_party/json/source"]
	path = flutter/hap_installer/cpp/hapsigner/third_party/json/source
	url = https://gitee.com/openharmony/third_party_json.git
[submodule "flutter/hap_installer/cpp/hapsigner/third_party/bzip2/source"]
	path = flutter/hap_installer/cpp/hapsigner/third_party/bzip2/source
	url = https://gitee.com/openharmony/third_party_bzip2.git
[submodule "flutter/hap_installer/cpp/hapsigner/third_party/zlib/source"]
	path = flutter/hap_installer/cpp/hapsigner/third_party/zlib/source
	url = https://gitee.com/openharmony/third_party_zlib.git
[submodule "flutter/hap_installer/cpp/hnp_tools/source"]
	path = flutter/hap_installer/cpp/hnp_tools/source
	url = https://gitee.com/openharmony/startup_appspawn.git
[submodule "flutter/hap_installer/cpp/third_party/cJSON/source"]
	path = flutter/hap_installer/cpp/third_party/cJSON/source
	url = https://gitee.com/openharmony/third_party_cJSON.git
