# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
!assets/tools
tools/
*.obj
*.cmake
*.bin
flutter/hap_installer/cpp/CMakeFiles/
flutter/hap_installer/cpp/build.ninja
flutter/hap_installer/cpp/.ninja_log
*.ninja_deps
flutter/hap_installer/cpp/build_windows/
flutter/hap_installer/cpp/build_linux/
flutter/hap_installer/cpp/build_macos/

flutter/hap_installer/assets/windows/17.0.15_6.zip
flutter/hap_installer/assets/linux/17.0.15_6.tar.gz
*.d
flutter/hap_installer/cpp/build/
