# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
!assets/tools
tools/
*.obj
*.cmake
*.bin
flutter/hap_installer/cpp/CMakeFiles/
flutter/hap_installer/cpp/build.ninja
flutter/hap_installer/cpp/.ninja_log
*.ninja_deps
flutter/hap_installer/cpp/build_windows/
flutter/hap_installer/cpp/build_linux/
flutter/hap_installer/cpp/build_macos/

flutter/hap_installer/assets/windows/17.0.15_6.zip
flutter/hap_installer/assets/linux/17.0.15_6.tar.gz
*.d
flutter/hap_installer/cpp/build/
build/CMakeCache.txt
build/compile_commands.json
build/Makefile
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/InstallScripts.json
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/4.0.1/CompilerIdC/a.out
build/CMakeFiles/4.0.1/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/4.0.1/CompilerIdCXX/a.out
build/CMakeFiles/4.0.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/hapsigner/third_party/zlib/Makefile
build/hapsigner/third_party/zlib/CMakeFiles/progress.marks
build/hapsigner/third_party/zlib/CMakeFiles/zlib.dir/build.make
build/hapsigner/third_party/zlib/CMakeFiles/zlib.dir/compiler_depend.make
build/hapsigner/third_party/zlib/CMakeFiles/zlib.dir/compiler_depend.ts
build/hapsigner/third_party/zlib/CMakeFiles/zlib.dir/depend.make
build/hapsigner/third_party/zlib/CMakeFiles/zlib.dir/flags.make
build/hapsigner/third_party/zlib/CMakeFiles/zlib.dir/link.txt
build/hapsigner/third_party/zlib/CMakeFiles/zlib.dir/progress.make
build/packing_tool/Makefile
build/packing_tool/CMakeFiles/progress.marks
build/packing_tool/CMakeFiles/packing_tool.dir/build.make
build/packing_tool/CMakeFiles/packing_tool.dir/compiler_depend.make
build/packing_tool/CMakeFiles/packing_tool.dir/compiler_depend.ts
build/packing_tool/CMakeFiles/packing_tool.dir/depend.make
build/packing_tool/CMakeFiles/packing_tool.dir/flags.make
build/packing_tool/CMakeFiles/packing_tool.dir/link.txt
build/packing_tool/CMakeFiles/packing_tool.dir/progress.make
build/third_party/bounds_checking_function/Makefile
build/third_party/bounds_checking_function/CMakeFiles/progress.marks
build/third_party/bounds_checking_function/CMakeFiles/boundscheck.dir/build.make
build/third_party/bounds_checking_function/CMakeFiles/boundscheck.dir/compiler_depend.make
build/third_party/bounds_checking_function/CMakeFiles/boundscheck.dir/compiler_depend.ts
build/third_party/bounds_checking_function/CMakeFiles/boundscheck.dir/depend.make
build/third_party/bounds_checking_function/CMakeFiles/boundscheck.dir/flags.make
build/third_party/bounds_checking_function/CMakeFiles/boundscheck.dir/link.txt
build/third_party/bounds_checking_function/CMakeFiles/boundscheck.dir/progress.make
build/third_party/cJSON/Makefile
build/third_party/cJSON/CMakeFiles/progress.marks
build/third_party/cJSON/CMakeFiles/cjson.dir/build.make
build/third_party/cJSON/CMakeFiles/cjson.dir/compiler_depend.make
build/third_party/cJSON/CMakeFiles/cjson.dir/compiler_depend.ts
build/third_party/cJSON/CMakeFiles/cjson.dir/depend.make
build/third_party/cJSON/CMakeFiles/cjson.dir/flags.make
build/third_party/cJSON/CMakeFiles/cjson.dir/link.txt
build/third_party/cJSON/CMakeFiles/cjson.dir/progress.make
