[submodule "flutter/hap_installer/cpp/third_party/bounds_checking_function"]
	path = flutter/hap_installer/cpp/third_party/bounds_checking_function
	url = https://gitee.com/openharmony/third_party_bounds_checking_function.git
[submodule "flutter/hap_installer/cpp/third_party/zlib/source"]
	path = flutter/hap_installer/cpp/third_party/zlib/source
	url = https://gitee.com/openharmony/third_party_zlib.git
[submodule "flutter/hap_installer/cpp/hdctools/source"]
	path = flutter/hap_installer/cpp/hdctools/source
	url = https://gitee.com/openharmony/developtools_hdc.git
[submodule "flutter/hap_installer/cpp/hapsigner/source"]
	path = flutter/hap_installer/cpp/hapsigner/source
	url = https://gitee.com/openharmony/developtools_hapsigner.git
[submodule "flutter/hap_installer/cpp/hdctools/third_party/libusb/source"]
	path = flutter/hap_installer/cpp/hdctools/third_party/libusb/source
	url = https://gitee.com/openharmony/third_party_libusb.git
[submodule "flutter/hap_installer/cpp/hdctools/third_party/libuv"]
	path = flutter/hap_installer/cpp/hdctools/third_party/libuv
	url = https://gitee.com/openharmony/third_party_libuv.git
[submodule "flutter/hap_installer/cpp/third_party/openssl/source"]
	path = flutter/hap_installer/cpp/third_party/openssl/source
	url = https://gitee.com/openharmony/third_party_openssl.git
