* {
  margin: 0;
  padding: 0;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}
body {
  font-family: "PingFang SC", "Helvetica Neue", Helvetica, "microsoft yahei",
    arial, STHeiTi, sans-serif;
}

a {
  text-decoration: none;
}

span:focus-visible {
  outline: none;
}

/*---滚动条默认显示样式--*/
::-webkit-scrollbar-thumb {
  height: 20px;
  border-radius: 4px;
  outline-offset: -2px;
  outline: 1px solid #fff;
  border: 1px solid #fff;
  -webkit-border-radius: 4px;
}

/*---鼠标点击滚动条显示样式--*/
::-webkit-scrollbar-thumb:hover {
  height: 20px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
}

/*---滚动条大小--*/
::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

/*---滚动框背景样式--*/
::-webkit-scrollbar-track-piece {
  border-radius: 5px;
  -webkit-border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: #eee;
} /* 滚动条的滑轨背景颜色 */
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
} /* 滑块颜色 */
::-webkit-scrollbar-button {
  background-color: rgba(0, 0, 0, 0.2);
} /* 滑轨两头的监听按钮颜色 */
::-webkit-scrollbar-corner {
  background-color: #eee;
} /* 横向滚动条和纵向滚动条相交处尖角的颜色 */

input::-webkit-inner-spin-button {
  appearance: none;
  -webkit-appearance: none;
}
